@import 'constants.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='dark'] {
    color: var(--red);
    background: var(--dark-blue);
}

html[data-theme='light'] {
    background: var(--bg-white);
    color: var(--red);
}

body {
    font-family: 'Roboto', 'Montserrat', 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--white);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    padding: 0 15px;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Видалити стандартний повзунок (для Firefox) */
    -ms-overflow-style: none; /* Видалити стандартний повзунок (для Internet Explorer/Edge) */
}

.app-content::-webkit-scrollbar {
    width: 0; /* Видалити стандартний повзунок (для Chrome та Safari) */
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

input,
textarea {
    outline: none;
}